body {
    background: #E8DED1;
}

h1 {
    text-align: center;
    background: #D1C0A8;
    border: double white 2px;
    font-family: 'Playfair Display';
}

h2 {
    text-align: center;
    background: #A0816C;
    border: solid black 1px;
    font-family: 'Playfair Display';
}

 li {
     margin-top: 10px;
     text-align: center;
     font-size: 20pt;
     border: double black 1px;
     background: #A0816C;
     font-family: 'Playfair Display';
 }

ol {
    text-align: center;
    font-size: 20pt;
    border: solid black 1px;
    font-family: 'Playfair Display';
    background: beige;
    margin: 5px;
    padding: 1px;
}

