body {
    background: #D1C0A8;
}

h1 {
    text-align: center;
    background: #D1C0A8;
    border: double white 3px;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    text-align: center;
    background: #D1C0A8;
    font-family: "Times New Roman", Times, serif;
}

 li {
     margin-top: 10px;
     text-align: center;
     font-size: 15pt;
     background: white;
     font-family: "Times New Roman", Times, serif;
 }

ol {
    text-align: center;
    font-size: 15pt;
    font-family: "Times New Roman", Times, serif;
    background: beige;
    margin: 5px;
    padding: 1px;
}

